#title{ 
    text-align: center;
    background-color: cornflowerblue;
    font-family: Verdana;
    color: whitesmoke;
}
#subtitle{
    text-align: center;
    font-family:Arial;
    font-style: italic;
    font-size: 5mm; 
    background-color: steelblue;   
    color: whitesmoke;
}

#presentation{
    font-family: sans-serif;
    font-size: medium;
    text-align: justify;
    text-align: center;
}
#title2{
    text-align: center;
    color: whitesmoke;
    font-family: Verdana;
    background-color: rgb(120, 158, 189);
}

.one{
    text-align: justify;
    font-family: sans-serif;
    font-size: medium;
}
.img{
    float: right;
    width: 60mm;
    height: 60mm;

}